.sidebar{
  background: rgba(0, 0, 0, 0.1) !important;
}

.sidebar .nav-link{
  cursor: pointer !important;
}

.navbar .nav-link.disabled {
  cursor: default;
  opacity: 1; /* fully visible */
}

.nav-link{
  color: #000000 !important;
  font-weight: 500 !important;
}

nav-link:focus,
.nav-link.active {
  color: #000000 !important;
  font-weight: 600 !important;
  background-color: rgba(175, 149, 5, 0.50) !important;
  border-radius: 30px !important;
  padding: 0.5rem 1rem !important;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.nav-link:hover{
  color: #ffffff !important;
  font-weight: 500 !important;
  background: rgba(140, 119, 7, 0.62) !important;
  border-radius: 50px !important;
}

.container{
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  padding: 0 !important;
}
.supervisor-info h5 {
  font-weight: 600;
}

.supervisor-info .badge {
  font-size: 0.8rem;
  padding: 0.4em 0.7em;
}

.card .img-fluid.rounded-circle {
  border: 2px solid #007bff20;
}
