.container{
  margin-top: 80px !important;
  margin-bottom: 80px !important;
  padding: 0 !important;
}

canvas{
  border:1px solid #0068d1;
  border-radius:5px;
  height:150px;
}

.btn{
opacity: 0.9;
}
